<% include ./partials/header %>

	<div class="container container-margin">
<!-- 		<h1>Who am I</h1>
		<p>Hi, my name is George Yu and I'm a Software Engineer, currently looking for a position as a programmer or a web developer. I like to learn new things, specially in the tech area which is changing and evolving constantly. I want to apply all this knowledge in real word projects.</p>
		<p>I'm from Panama and I came to the United States on Q4 2015. I can speak spanish, english and cantonese.</p>
		<hr class="divider">
		<h1>Where am I?</h1>
		<p>I live in the San Francisco Bay Area and I'm looking for jobs inside the Bay Area, specially San Francisco because is closer.</p>
		<hr class="divider">
		<h1>Education</h1>
		<p>Universidad Tecnológica de Panamá – Panama</p>
		<p>Bachelor’s Degree in Computer Engineering, 2015</p> -->
		<div class="row">
			<div class="col-sm-6">
				<h1>Who am I</h1>
				<p>Hi, my name is George Yu and I'm a Software Engineer, currently looking for a position as a programmer or a web developer. I like to learn new things, specially in the tech area which is changing and evolving constantly. I want to apply all this knowledge in real world projects.</p>
				</br>
				<p>I'm from Panama and I came to the United States on Q4 2015. I can speak Spanish, English and Cantonese.</p>
			</div>
			<div class="col-sm-6 vertical-line">
				<h1>Where am I?</h1>
				<p>I live in the San Francisco Bay Area and I'm looking for jobs inside the Bay Area, specially San Francisco because it's closer.</p>	
				<h1>Education</h1>
				<p>Universidad Tecnológica de Panamá – Panama</p>
				<p>Bachelor’s Degree in Computer Engineering, 2015</p> 
			</div>
		</div>
		<hr class="divider">
		<h1>Skills</h1>
		<h3>Programming Languages:</h3>
		<ul class="skill-list">
			<li>C</li>
			<li>C++</li>
			<li>Java</li>
			<li>Javascript</li>
			<li>jQuery</li>
			<li>ReactJS</li>
			<li>Node.js</li>
			<li>Visual Basic</li>
		</ul>
		<h3>Web Design:</h3>
		<ul class="skill-list">
			<li>HTML5</li>
			<li>CSS</li>
			<li>Bootstrap</li>
			<li>Semantic UI</li>
		</ul>
		<h3>Data Base:</h3>
		<ul class="skill-list">
			<li>MongoDB</li>
			<li>MySQL</li>
		</ul>
		<h3>Version Control:</h3>
		<ul class="skill-list">
			<li>Git</li>
			<li>GitHub</li>
		</ul>
		<h3>Cloud Hosting:</h3>
		<ul class="skill-list">
			<li>Heroku</li>
			<li>AWS EC2</li>
		</ul>

	</div>

<% include ./partials/footer %>