<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1>Who am I</h1>
	<p>Hi, my name is George Yu and I'm a Software Engineer, currently looking for a position as a programmer or a web developer. I like to learn new things, specially in the tech area which is changing and evolving constantly. I want to apply all this knowledge in real word projects.</p>
	<p>I'm from Panama and I came to the United States on Q4 2015. I can speak spanish, english and cantonese.</p>
	<h1>Where am I?</h1>
	<p>I live in the San Francisco Bay Area and I'm looking for jobs inside the Bay Area, specially San Francisco because is closer.</p>
	<h1>Education</h1>
	<p>Universidad Tecnológica de Panamá – Panama</p>
	<p>Bachelor’s Degree in Computer Engineering, 2015</p>
	<h1>Skills</h1>
	<ul>
		<li>Programming Languages: C, C++, Java, Javascript and Visual Basic</li>
		<li>Web Design: HTML5, CSS, Bootstrap and Semantic UI</li>
		<li>Data Base: MongoDB and MySQL</li>
		<li>Graphic Softwares: Blender, POV-Ray and OpenGL</li>
		<li>Environments: Windows, Arduino, embedded systems (VHDL) and Android</li>
	</ul>
</body>
</html>