<% include ./partials/header %>

	<!-- Show my contact information -->
	<div class="container container-margin">
		<h1>George Yu</h1>
		</br>
		<p><strong>Phone: </strong>+1-415-937-4609</p>
		<p><strong>Location: </strong>San Francisco Bay Area, California</p>
		<p><strong>Email: </strong>GYuJobs@gmail.com</p>
		</br>
		<hr class="contact-divider">
		</br>
		<p><a class="btn btn-default btn-sm" href="https://www.linkedin.com/in/george-yu-74a971111"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i><strong> LinkedIn</strong></a> <a class="btn btn-default btn-sm social" href="https://github.com/iSkylake"><i class="fa fa-github fa-2x" aria-hidden="true"></i><strong>  github</strong></a></p> <!-- LinkedIn and GitHub button -->
	</div>


<% include ./partials/footer %>