<% include ./partials/header %>

	<div>
		<div class="jumbotron">
		  <img class="img-circle photo" src="img/IMG_20160101_154337.jpg">
		  <h1>GEORGE YU</h1>
		  <hr class="style-med hidden-md hidden-sm hidden-xs">
		  <hr class="style-sm hidden-lg">
		  <p>Software Engineer - Web Developer</p>
		</div>
	</div>

<% include ./partials/footer %>