<% include ./partials/header %>

	<div class="container info">
		<div class="container">
			<h3>Web Development</h3>
			<div class="row inline-content">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/Blog.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Blog</h4>
							<p class="app-info">Blog applying RESTful routes for creating, showing and deleting posts.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/Image Gallery.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Image Gallery</h4>
							<p class="app-info">An image gallery using Bootstrap and the grid system for responsive web apps.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/RGB Game.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">RGB Game</h4>
							<p class="app-info">A RGB guessing game using DOM manipulation and Javascript.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/To-Do List.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">To-Do List</h4>
							<p class="app-info">A To-Do List made with jQuery. You can add more tasks, scratch them or delete them</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h3>Visual Basic</h3>
			<div class="row inline-content">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/ProjectPlus.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Addition Game</h4>
							<p class="app-info">This is a addition game for little kids, it has numbers from 1 to 10. I made this game for a College project.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/Memory.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Fifa 2015 Memory Game</h4>
							<p class="app-info">This is a memory game with 2015 FIFA World Cup theme. I made this game for a College project.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</body>
</html>

<% include ./partials/footer %>