<% include ./partials/header %>

	<div class="container info">
		<h1>Portfolio</h1>
		<div class="container">
			<h3>Web Development</h3>
			<div class="row">
				<div class="caption">
					<img class="app-img" src="img/ProjectPlus.png">
					<!-- <hr class="app-divider"> -->
					<div class="caption">
						<h4 class="app-title">Addition Game</h4>
						<p class="app-info">This is a addition game for little kids, it has numbers from 1 to 10. I made this game for a College project.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<h3>Visual Basic</h3>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/ProjectPlus.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Addition Game</h4>
							<p class="app-info">This is a addition game for little kids, it has numbers from 1 to 10. I made this game for a College project.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img class="app-img" src="img/Memory.png">
						<!-- <hr class="app-divider"> -->
						<div class="caption">
							<h4 class="app-title">Fifa 2015 Memory Game</h4>
							<p class="app-info">This is a memory game with 2015 FIFA World Cup theme. I made this game for a College project.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<% include ./partials/footer %>