.navbar-default {
	background-color: #1b1c1d;
	border-color: transparent;
	border-radius: 0px;
	padding: 0;
	min-height: 70px;
	padding-top: 10px;
	font-size: 1.2em;
	margin-bottom: 0;
}

.navbar-default .navbar-brand{
	color: #fff;
	font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover{
	font-weight: normal;
	color: #fff;
/*	background-color: #34B3A0;
	border-color: ##34B3A0;*/
}

.navbar-default .navbar-nav>li>a:visited{
	color:#fff;
}

.navbar-default .navbar-brand:visited{
	color: #fff;
}

.navbar-default .navbar-brand:hover{
	color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.jumbotron{
	text-align: center;
	margin: 9% 0px;
	background-color: #34B3A0;
	color: #fff;
}

body{
	background-color: #34B3A0;
	font-family: Consolas;
	color: white;
}

.photo{
	width: 300px;
	height: 300px;
}

.jumbotron .h1, .jumbotron h1{
	font-weight: bold;
}

hr.style-med{
    background-color: white;
    height: 5px;
    width: 25%;
}

hr.style-sm{
    background-color: white;
    height: 5px;
    width: 40%;
}

.info{
	margin-top: 30px;
/*	border-radius: 10px;
	border: 1px solid transparent;
	background-color: #e9eaea;
	margin-bottom: 30px;*/
}

.divider{
    background-color: #204056;
    height: 3px;
    border-top-color: #204056;
    margin: 40px 0;	
}

.contact-divider{
    background-color: #e9eaea;
    height: 3px;
    width: 400px;
    display: inline-block;
    border-top-color: #e9eaea;
}

.app-title{
	font-weight: 800;
}

.app-info{
	text-align: justify;
}

.app-divider{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 0px;
}

.app-img{
	border: solid #000 2px;
}

.inline-content{
	display: flex;
	flex-wrap: wrap;
}